{% extends "base.html" %}
{% load static %}
{% block title %}
{{ post.title }}
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}" />
{% endblock %}

{% block content %}
<section id="summary">
    <h2>{{ post.title }}</h2>
    <div>
        {% for tag in all_tags %}
            <span class="tag">{{ tag.caption }}</span>
        {% endfor %}
            
        
    </div>
    <div id="read-later">
        <form action="{% url 'read_later' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}" />
            <button type="submit">
                {% if is_saved_for_later %}
                    Remove from Read Later
                {% else %}
                    Read for Later
                {% endif %}
            </button>
        </form>
    </div>    

    <article>
        <img src="{{ post.image_name.url}}" alt="{{ post.title }}" />
        <address><a href="mailto:{{ post.author.email }}">{{ post.author }}</a></address>
        <div>Last updated on <time>{{ post.date|date:"d/m/Y" }}</time></div>
    </article>
</section>
<main>
    <p>{{ post.content|linebreaks }}</p>
    
    {% if comments %}
    <section id="comments">
        <ul>
            {% for comment in comments %}
            <li>
                    <h2><a href="mailto:{{ comment.user_email }}">{{ comment.user_name }}</a></h2>
                    <p>{{ comment.text|linebreaks }}</p>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}    
    
    <section id="comment-form">
        <h2>Leave a Comment</h2>
        <form action="{% url 'post_detail_page' post.slug %}" method="post">
            {% csrf_token %}
            {% for field in comment_form %}
            <div class="form-control">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <button type="submit">Save Comment</button>
        </form>    
    </section>
</main>
{% endblock %}